## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
ciudades = ["buenos aires","sao paulo","new york","paris","chelsea","manchester"]
print(ciudades)

['buenos aires', 'sao paulo', 'new york', 'paris', 'chelsea', 'manchester']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(ciudades[1])

sao paulo

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(ciudades[1:4])

['sao paulo', 'new york', 'paris']

4) Visualizar el tipo de dato de la lista

In [4]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
print(ciudades[2:])

['new york', 'paris', 'chelsea', 'manchester']

6) Visualizar los primeros 4 elementos de la lista

In [6]:
print(ciudades[:4])

['buenos aires', 'sao paulo', 'new york', 'paris']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [7]:
ciudades.append("paris")
ciudades.append("tokio")

8) Agregar otra ciudad, pero en la cuarta posición

In [8]:
ciudades.insert(4,"goya")
print(ciudades)

['buenos aires', 'sao paulo', 'new york', 'paris', 'goya', 'chelsea', 'manchester', 'paris', 'tokio']

9) Concatenar otra lista a la ya creada

In [9]:
ciudades.extend(["santa lucia","corrientes","cordoba"])

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [10]:
ciudades.index("paris")

3

11) ¿Qué pasa si se busca un elemento que no existe?

In [11]:
ciudades.index("ushuaia")

ValueError: 'ushuaia' is not in list

12) Eliminar un elemento de la lista

In [12]:
ciudades.remove("cordoba")

13) ¿Qué pasa si el elemento a eliminar no existe?

In [ ]:
ciudades.remove("ushuaia")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [13]:
ultimo_elemento=ciudades.pop()
print(ultimo_elemento)

corrientes

15) Mostrar la lista multiplicada por 4

In [ ]:
print(ciudades*4)

['buenos aires', 'sao paulo', 'new york', 'paris', 'goya', 'chelsea', 'manchester', 'paris', 'tokio', 'santa lucia', 'buenos aires', 'sao paulo', 'new york', 'paris', 'goya', 'chelsea', 'manchester', 'paris', 'tokio', 'santa lucia', 'buenos aires', 'sao paulo', 'new york', 'paris', 'goya', 'chelsea', 'manchester', 'paris', 'tokio', 'santa lucia', 'buenos aires', 'sao paulo', 'new york', 'paris', 'goya', 'chelsea', 'manchester', 'paris', 'tokio', 'santa lucia']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [14]:
tupla= (1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [ ]:
print(tupla[10:16])

(12, 13, 14, 15, 16, 17)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [ ]:
20 in tupla
30 in tupla

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [15]:
if "Paris" not in ciudades:
    ciudades.append("Paris")
    print(ciudades)

['buenos aires', 'sao paulo', 'new york', 'paris', 'goya', 'chelsea', 'manchester', 'paris', 'tokio', 'santa lucia', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [16]:
print(ciudades.count("goya"))
print(tupla.count(2))

1
1

21) Convertir la tupla en una lista

In [17]:
list(tupla)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [21]:
uno,dos,tres=tupla[:3]
print(ciudades)
tupla_bajo=(1,2,3,4)
_,_,tress,cuatro=tupla_bajo

['buenos aires', 'sao paulo', 'new york', 'paris', 'goya', 'chelsea', 'manchester', 'paris', 'tokio', 'santa lucia', 'Paris']

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [22]:
mundo = {
    "ciudad" : ciudades,
    "continentes": ["america","europa","asia","oceania","africa"] ,
    "pais": ["argentina","brasil","estados unidos","francia","argentina","inglaterra","inglaterra","francia","japon","argentina","francia"]
}

24) Imprimir las claves del diccionario

In [23]:
print(mundo.keys())

dict_keys(['ciudad', 'continentes', 'pais'])

25) Imprimir las ciudades a través de su clave

In [24]:
print(mundo["ciudad"])

['buenos aires', 'sao paulo', 'new york', 'paris', 'goya', 'chelsea', 'manchester', 'paris', 'tokio', 'santa lucia', 'Paris']